body{
	margin:0;
	background: #EEE;
	padding: 0;
	font-family: arial,sans-serif;
}

form{
	width:400px;
	margin: 0 auto;
	background: #FFF;
	padding: 15px;
	margin-top: 10%;
	border-bottom: 1px solid #D4D4D4;
	border-radius: 3px;
}
form h2{
	text-align: center;
}

form input{
	width: 91%;
	cursor: pointer;
	display: inline-block;
}

form button{
	background: #fb9327;
	border:none;
	outline:none;
	padding: 10px 15px;
	color: #FFF;
	text-align: center;
	margin: 0 auto;
	display: block;
	margin-top: 20px;
	border-radius: 4px;
	cursor: pointer;
}

form #result{
	text-align: center;
	margin-top: 20px;
	background: #538dd6;
	color: #FFF;
	padding: 23px;
	line-height: 26px;
	font-size: 30px;
	border-radius: 3px;
}
#result span{
	display: none;
}
form .buttonHolder{
	width: 40px;
	text-align: center;
	margin:0 auto;
}

button{
	text-align: center;
}
img.upload{
	width: 40px;
	height: 40px;
	background-size: 40px 40px;
	display: inline-block;
}
input#image{
	display: none;
}
button#snap{
	background: url('camera-icon.png');
	width: 40px;
	height: 40px;
	background-size: 40px 40px;
	display: inline-block;
	/* margin: 0; */
	padding: 0;
}

label.upload-label{
	width: 40px;
	height: 40px;
	display: block;
	margin: 0;
	padding: 0;
}